@use "../settings/colors" as c;

.maingame_content{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    width: 100%;
    min-height: 520px;
    height: 100%;
    gap: 20px;
    h1{
        width: 100%;
        text-align: left;
        font-size: 20px;
    }
    h2{
        width: 100%;
        font-size: 18px;
        text-align: left;
        color: c.$grey_dark;
        font-weight: 400;
    }
    img{
        max-height: 200px;
        width: auto;
        max-width: 100%;
    }
}

.data_container{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 5px;

    p{
        background-color: c.$blue_light;
        font-weight: 500;
        padding: 5px 15px;
        border-radius: 5px;
        color: c.$secundary;
        font-size: 13px;
    }
}

.buttons_list{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    text-align: center;
}

.score-max{
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 25px 0;

    p{
        color: black;
        border-radius: 5px;
        font-size: 20px;
        padding: 10px;
        background-color: white;
    }

    a{
        width: auto;
        text-decoration: none;
        padding: 10px;
    }
}

@media (max-width: 500px) {
    .maingame_content{
        .buttons_list{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            text-align: center;
        }
    }
}

@media (max-width: 350px) {
    .maingame_content{
        padding: 10px;
        h1{
            font-size: 16px;
        }
        img{
            width: 100%;
            height: auto;
        }
    }
}