$primary: #FFF159;
$primary_dark: #736C28;
$secundary: #3483FA;
$secundary_dark: #2968C8;
$tertiary: #00A650;
$grey: #EDEDED;
$grey_light: #CAC9C9;
$grey_light2: #B0B9C6;
$grey_dark: #727276;
$blue_light: #E3EDFB;
$blue_dark: #2e3279;